<script src='{{ "../js/bootstrap.js" | relative_url }}'></script>
<script src='{{ "../js/prism.js" | relative_url }}'></script>

<!-- Begin footer -->
<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="col-xl-12">
      <p>
        "Dofus", "Dofus Retro" et "Dofus Touch" sont des jeux édités par <a href="https://www.ankama.com/fr" target="_blank" rel="noreferrer noopener" style="color:white;">Ankama</a>. Nous n'avons aucun lien avec eux.<br>
        Certaines illustrations sont la propriété d'Ankama Studio - Tous droits réservés<br>
        Copyright © SectionDofus.com 2025
      </p>
      <a href="/privacy-policy/" style="color:white;">Politique de confidentialité</a>
    </div>
  </div>
</footer>