<header>

  <!-- Header image and title -->
  <div class="header-banner-container">
    <h1 class="retrofont"><a href="/" class="website-main-title"><img alt="Section Dofus" src="/img/default/site_logo.png" width="230px"></a></h1>
    <p class="">Tout sur Dofus</p>
  </div>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main_nav">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Guides / Outils</a>
        <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/dofus"><strong>Dofus Unity</strong></a></li>
              <li><a class="dropdown-item" href="/dofus-retro"><strong>Dofus Retro</strong></a></li>
              <li><a class="dropdown-item" href="/dofus-touch"><strong>Dofus Touch</strong></a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Publications</a>
        <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/news"><strong>Toutes les catégories</strong></a></li>
              <li><a class="dropdown-item" href="/news/news-du-site"><strong>News du site</strong></a></li>
              <li><a class="dropdown-item" href="/news/dofus"><strong>News sur Dofus Unity</strong></a></li>
              <li><a class="dropdown-item" href="/news/dofus-retro"><strong>News sur Dofus Retro</strong></a></li>
              <li><a class="dropdown-item" href="/news/dofus-touch"><strong>News sur Dofus Touch</strong></a></li>
              
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Autre</a>
        <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/telechargements"><strong>Téléchargements</strong></a></li>
        </ul>
      </li>
    </ul>
    <!--<form class="d-flex" style="padding: 15px;">
      <input class="form-control me-2" type="search" placeholder="Search doesn't work yet" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>-->
  </div>
  <!-- navbar-collapse.// -->
  </div>
  <!-- container-fluid.// -->
  </nav>

</header>